.calendar {
  margin: 1.5rem;
  width: 98%;
  height: 45%;
  border-radius: 4px;
}

.habits {
  &__tracker {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
  }

  &-container {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
  }

  &__calendar {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    padding: 0 2rem;
  }

  &__subheading {
    height: 2rem;
    border: 1px solid grey;
    padding: 0 2rem;
  }
}
