@use "../../styles/partials/variables" as *;
.calendar {
  width: 40rem;
  margin-bottom: 1rem;
  height: 22rem;
  border: 10px solid white;
  border-radius: 1rem;
  box-shadow: 2px 4px 5px rgba($color-primary, 0.4);
}

.progress-bar {
  width: 15rem;
  align-self: center;
  margin-top: 1.5rem;
}

.habits {
  // background-image: linear-gradient(to bottom right, $color-light, #fff);
  display: flex;

  &__visuals {
    margin-left: 2rem;
    // margin-top: -1rem;
    display: flex;
    flex-direction: column;
    background-color: $color-light;
    border: 2px solid #fff;
    padding: 1rem 2rem;
    border-radius: 1rem;
  }

  &__subsection {
    display: flex;
    padding: 1rem 1.5rem;
  }

  &__tracker {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 24rem;
    background-color: $color-light;
    padding: 1rem;
    border-radius: 1rem;
    border: 3px solid #fff;
  }

  &__calendar {
  }

  &__heading {
    padding: 0 1rem;
  }

  &__progress-bar {
    align-self: center;
  }

  &__progress-heading {
    text-decoration: underline;
    text-align: center;
  }
}
