@use "../../styles/partials/variables" as *;

.habit {
  display: flex;
  align-items: center;
  margin-left: 1rem;

  &__subheading {
    padding: 0 0.5rem;

    border-radius: 4px;
    background-color: white;
    border: 1px solid $color-primary;
  }

  &__cell {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;

    border: 1px solid $color-primary;

    position: absolute;
    left: 37rem;
    &--done {
      background-color: $color-green;
    }

    &--notdone {
      background-color: #eeeeee;
    }
  }
  &__delete-btn {
    width: 1.75rem;
    font-size: 0.75rem;
    height: 1.75rem;
    cursor: pointer;
    margin-left: 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
    // position: absolute;
    // left: 30rem;

    &:hover {
      background-color: $color-error;
    }
  }
}
